.header
.chat-side
  = render "shared/side_bar"
.chat-main
  .chat-main__main-header
    .chat-main__main-header__left-box{ 'data-group-id': @group.id}
      %h.chat-main__main-header__left-box__group-name 
        =@group.name
      %li.chat-main__main-header__left-box__member Member:
      %li.chat-main__main-header__left-box__member-list
        - @group.group_users.each do |group_user|
          = group_user.user.name
    = link_to edit_group_path(current_user) do
      .chat-main__main-header__btn Edit
  .chat-main__message
    = render @messages
  .chat-main__form
    .chat-main__form__new-message
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'chat-main__form__new-message__text', placeholder: 'type a message'
        .chat-main__form__new-message__upload-label
        = f.label :image do
          = fa_icon 'picture-o', class: 'chat-main__form__new-message__icon'
          = f.file_field :image, class: 'chat-main__form__new-message__file-send'
        = f.submit 'Send', class: 'chat-main__form__new-message__btn',remote: true